/** color style guide 
*  #264653 - charcoal can be used for background  
*  #2A9D8F - persian green can be used as a header color
*  #E9C46A - orange yellow can be used for text color
*  #e76f51- orange can be used as buttons
*/

:root {
    --charcoal: #264653;
    --green: #2A9D8F;
    --yellow: #E9C46A;
    --orange: #e76f51;
}

/** style rules for index.html **/
html {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  text-align: center;
  background-color: var(--charcoal);
}

h1, h2, h3, h4 { 
  color: var(--green);
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
    font-size: 0.90rem;
    color: var(--orange);
}

p {
  color: var(--yellow);
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-family: 'B612', sans-serif;
}

a {
  text-decoration: none;
  color: var(--yellow); 
  opacity: 0.75;
}

a:hover {
    opacity: 1.0;
}

/** big image class already imbeded in the pictures **/
.step-img-1 {
  position: relative;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.step-outline {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--orange);
}

/** parallax Image class **/
.step-img-2, .step-img-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}

/** classes for Images used as background **/
.step-img-1 {
  background-image: url(images/splash-page.jpg);
  min-height: 100%;
}

.step-img-2 {
  background-image: url(images/computer-monitor.jpg);
  min-height: 20%;
}

.step-img-3 {
  background-image: url(images/coding-glasses.jpg);
  min-height: 20%;
}

/** This class allows for text to be centered to the image **/
.step-caption {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
}

.step-caption spam.step-border {
  padding: 18px;
  font-size: 45px;
}

.step-left {
    text-align: left;
}

/** This class allow the text inside it to stay in the container no matter the device width **/
.step-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.step-align {
    margin-left: 20%;
    margin-right: 20%;
}

/** creators table based on a responsive design **/
.step-table-align {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.step-table-align td {
    margin-left: 10px;
    margin-right: 10px;
}

.step-table-align img {
    height: 355px;
    width: 355px;
    border: 2px solid var(--orange);
}

.step-figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

/** style for the buttons **/
.step-button{
  background-color: var(--orange);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Press Start 2P', cursive; 
}

/** These classes are in charge of styleing the footer **/
.step-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}

.step-column { 
  -ms-flex: 32%;
  flex: 32%;
  max-width: 32%;
  padding: 0 4px;
}

.step-column h4 { 
  text-align: left;
}

.resource-link li {
  list-style-type: none;
  color: var(--yellow);
  text-align: left;
}

.resource-link a:visited {
  color: var(--yellow);
}

/** accordian pop up for resources **/
#accordion {
  text-align: left;
  margin-left: 39px;
}

#accordion section p {
  display: none;
}

#accordion section ul {
  display: none;
}

#accordion section:target p {
  display: block;
}

#accordion section:target ul {
  display: block;
}

/** responsive team page **/ 
.intern-pic {
  height: 400px;
  width: 355px;
  border: 2px solid var(--orange);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.step-team-column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.step-team-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.step-team-container {
  padding: 0 16px;
}

.step-team-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.step-team-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:var(--orange);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.step-team-button:hover {
  background-color: #555; 
}

/** Responsive media classes to adapt to diffrent devices **/
@media screen and (max-width: 650px) {
  .step-team-column {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  /** start of large tablet styles **/
  .step-column {
    -ms-flex: 60%;
    flex: 60%;
    max-width: 60%;
  }

  .step-caption spam.border {
    font-size: 20px;
  }
  
  h1 {
    font-size: 4.4rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.0rem;  
  }

  h4 {
    font-size: 0.70rem;
  }

  p {
    font-size: 1.0rem;
    line-height: 1.6rem;
  }
}

@media screen and (max-width: 479px) {
  /** start of phone styles **/
  .step-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .step-caption spam.border {
    font-size: 14px;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 0.95rem;  
  }

  p {
    font-size: 0.96rem;
    line-height: 1.0rem;
  }
}

/** classes for the dialog container **/
.step-dialogue {
  text-align: left;
  margin-left: 100px;
  margin-right:100px;
  padding: 16px;
  border: 5px solid var(--orange);
  background-color: rgba(0, 0, 0, 0.3)
}

/** Player Sprite **/
#player-picture {
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
  left : 50px;
  width : 170px;
  height : 185px;
}

#pixel-avatar {
  position: absolute;
  width : 260px;
  left : 10px;
  top : 160px;
  height : 260px;
}

#image-container {
  position: absolute;
  height : 550px;
  left : 70%;
  top : 250px;
  float : left;
}

#promotion-button {
  margin-top: 10px;
  margin-right: 10px;
  position:absolute;
  top:0;
  right:0;
}

/** Quiz Pages **/
#quiz-container {
  padding-top : 5px;
  padding-bottom : 20px;
  background-color: var(--orange);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--yellow);
  width: 70%;
  margin: auto;
}

#question-text {
  font-weight: 900;
  color: var(--charcoal);
}

#choices-container {
  text-align: left;
  width: 70%;
  margin: auto;
}

/** promotion quiz classes **/
.step-meme img {
  border: 5px solid var(--orange);
  width: 600px;
  height: 630px; 
}

.step-yellow {
  color: var(--yellow);
}

/** imageHandler classes **/
.step-textarea {
  border: 2px solid var(--orange);
}

.step-oneline {
  display:flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.step-center-imagehandler {
  position:absolute;
  margin-left: 39%;
  margin-right: 39%;
}

/* classes for music player */
.align-bottom-center{
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 25%;
}

audio {
  float: left;
}

.step-align-icon {
  margin-top: 10px;
  margin-left: 10px;
  position:absolute;
  top:0;
  left:0;
}
